Checks: >
  clang-analyzer-*,
  cert-*,
  bugprone-*,
  performance-*,
  portability-*,
  -cert-err33-c,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: '*'

CheckOptions:
  - key: bugprone-misplaced-widening-cast.CheckImplicitCasts
    value: true

